body, .jumbotron {
    padding: 30px;
}

body {
    background-image: url('../img/desk.jpg');
    background-size: cover;
}

.content {
    font-size: 19px;
    line-height: 1.5;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
}

.floater {
    background: #fff;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
    margin-bottom: 30px;
    z-index: 11;
}

.floater input[type=text] {
    padding: 30px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
}

.floater-bottom {
    padding: 6px 10px 7px;
    text-align: right;
    border-top: 1px solid #DDD;
}

.floater-bottom button {
    padding: 4px 8px;
    font-size: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.80);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease opacity;
    z-index: 10;
    pointer-events: none;
}

body.show-floater .floater {
    transform: scale(1.1);
}

body.show-floater .floater input[type=text] {
    padding: 50px 20px;
    font-size: 18px;
}

body.show-floater .overlay {
   opacity: 1;
   pointer-events: all;
}

.bookmark-list {
    z-index: 9;
    position: relative;
}

.bookmark {
    display: block;
    background: #fff;
    color: #999;
    padding: 20px;
    transition: 0.3s ease all;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.bookmark:hover {
    color: #1ce;
    text-decoration: none;
}

.bookmark:first-child {
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bookmark:last-child {
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}
